<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">EMP ID</label>
                    <input type="text" class="form-control" name="emp_id" [(ngModel)]="emp_id">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Type</label>
                    <input type="text" class="form-control" name="type" [(ngModel)]="type">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Description</label>
                    <input type="text" class="form-control" name="discrip" [(ngModel)]="discrip">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Apply Date</label>
                    <input type="date" class="form-control" name="applydate" [(ngModel)]="applydate">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Leave Date</label>
                    <input type="date" class="form-control" name="leavedate" [(ngModel)]="leavedate">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Status</label>
                    <input type="text" class="form-control" name="status" [(ngModel)]="status">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button class="btn btn-success" (click)="addleave()">SUBMIT</button>
                </div>
            </div>
        </div>
    </div>
</div>
