<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">NestDigital</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="/">Login</a>
          <a class="nav-link active" aria-current="page" href="/addemp">Add Employee</a>
          <a class="nav-link active" aria-current="page" href="/viewemp">View Employee</a>
          <a class="nav-link active" aria-current="page" href="/addleave">Add Leave</a>
          <a class="nav-link active" aria-current="page" href="/viewleave">View All Leave</a>
          <a class="nav-link active" aria-current="page" href="/addsecurity">Add log</a>
          <a class="nav-link active" aria-current="page" href="/viewsec">View Log</a>
          
        </div>
      </div>
    </div>
  </nav>
